@import "tailwindcss";
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}