.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}